html {
  /*ダブルタップによるズームを抑止*/
  touch-action: manipulation;
}

.wrapper {
  color: white;
  background-color: #333333;
}

.wrapper td.activate-center {
  background-color: #FF0000;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #800000 solid;
  border-bottom : 1px #800000 solid;
}

.wrapper td.activate-around {
  background-color: #003061;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #000000 solid;
  border-bottom : 1px #000000 solid;
}

.wrapper td.fixed-center {
  background-color: #FF0000;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #800000 solid;
  border-bottom : 1px #800000 solid;
}

.wrapper td.fixed-around {
  background-color: #003061;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #000000 solid;
  border-bottom : 1px #000000 solid;
}

.header-wrapper {
  display: flex;
  justify-content: center;
}
