html {
  touch-action: none;
}

.wrapper-container {
  display: inline-block;
}

.polyos-container {
  display: flex;
  flex-direction: row;
  margin: 10px;
  background-color: #333333;
}

.polyos-panel-container {
  display: flex;
  padding: 0px 10px 0px 10px;
  flex-direction: column;
  color: white;
  background-color: #333333;
}

.board-table {
  border-collapse: separate;
  border-spacing: 0;
}
.board-table td {
  width: 25px;
  height: 25px;
  margin: 0px;
  padding: 0px;
  border: solid 1px #BEC2C5;
  background-color: #FFFFFF;
}

td.none {
  background-color: #ffffff solid;
  border-top    : 1px #BEC2C5 solid;
  border-left   : 1px #BEC2C5 solid;
  border-right  : 1px #BEC2C5 solid;
  border-bottom : 1px #BEC2C5 solid;
}

td.activate-center {
  background-color: #FF0000;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #800000 solid;
  border-bottom : 1px #800000 solid;
}

td.activate-around {
  background-color: #003061;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #000000 solid;
  border-bottom : 1px #000000 solid;
}

td.fixed-center {
  background-color: #FF0000;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #800000 solid;
  border-bottom : 1px #800000 solid;
}

td.fixed-around {
  background-color: #003061;
  border-top    : 1px #ffffff solid;
  border-left   : 1px #ffffff solid;
  border-right  : 1px #000000 solid;
  border-bottom : 1px #000000 solid;
}
