.board-container {
  padding: 5px;
}

.board-container table {
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}

.board-container td {
  border: solid 1px #BEC2C5;
  background-color: #FFFFFF;
}

