.hold-container {
  margin-top: 5px;
}

.hold-container p {
  font-size: 12px;
  margin: 0;
}

.hold-container table {
  border-collapse: separate;
  border-spacing: 0;
}

.hold-container td {
  border: solid 1px #BEC2C5;
  background-color: #FFFFFF;
}
