.next-container {
  margin-top: 5px;
  padding: 0 0 0 100px;
}

.next-container table {
  border-collapse: separate;
  border-spacing: 0;
}

.next-container td {
  width: 12px;
  height: 12px;
  border: solid 1px #BEC2C5;
  background-color: #FFFFFF;
}
