.score-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.score-title {
  font-size: 15px;
  margin: 5px 0 0 0;
}

.score-value {
  font-size: 15px;
  margin: 5px 0 0 0;
}

